# generated using `ssh-keygen -t rsa -P "" -b 4096 -m PEM -f .key`
# used only in `DEV` profile for JWT signing
# by default is searched at path `.key`
-----BEGIN RSA PRIVATE KEY-----
MIIJKQIBAAKCAgEAxkIRhVkK2dfZmiowtQZ9zFq0NXPZohO+kG7Inh76+Xo7TrI+
IEjosdTwP8FLP2dQy9Wf+xbdv1754mVFMCVQrnDzbGpgM2lkEm/GbKeDozZbhd+m
05CuYgjzF1b4g/W8nNHJeF4u16LK+DdXPiLPFuEwNu3omdSDxdUlT+h2HmCBLnZl
eLK9H9oD36yUpNZWNZ838QnT2lgOq7HZ/1g3ngYL5JbJzvTu22nvFfnkw0hl2ZiY
tAU+hasbjNSPtj9isUvWILZhOwD0EYmj72XLguXU5SVAT4yhBaUZIXzh+3z5Y2un
I0++TogVa3X+w+5SGGztJBwTMPVlK9rutewsvb195YSJFACYd+LmCAGmO+doB/Gm
Vs7bNr2z5Xb17JCAYP61pePzW4LPUf37XuqfUBUMVIOuGfivhB42h+4hR3Djax9H
EbZQL9tFf2qMJX4KBIPfpA+4CHYA0lZKpafkHIM1NB8v45sVMobSLjOem67M74n1
X2LVbnqF52HOgt+O1aaDnG9GVCkOvgjYspR0sF2E8yruXj3qp78f/yuqA6wG2cIR
9ekICXXpPozXru2YEUiKm2iHEUcLeN4sKh7qxJMXX3WrB+eYZZV7vlmjhYGPW/1A
butN35Y3P82HsZJ9NBgxaTACR/cGz1LpejKympUJ89p9DwcqmLrJkOvNi0MCAwEA
AQKCAgAUQZvYrAhXyZ4KClV/qXIg9wOCkpuh27KUvzzwKuopozt8BuoiElD0GnWR
jgZKLBwtN15pIST28JVHdGFlUeq0aAX3BcdeeV4oJBN59oOUoXEodHlvFFE84v0z
XUd29ByZSTX0fmr6zT8/rSfUyWmvRMLQWe5yCSyNggGV8IJhCCsqvB4R/vEj1/qd
V9y4Gs4kHGhy0DY9ENIu6LUFSdYk5yk/6cgkxRHCiUhMToP5D+SYHuc7PW3t6lWe
RfmI/WDwDHeMUBYPGUHWqOF/DD+G2ESwROYVOqEZGo0+xquwLkysw8sH6JXhIDZQ
DHZDPo5UwIxaLCQp1GjJ2kyZec/4ROGtW1SpHxhZiqwgBAU67Ueo3B2KgQlnM58Y
76EQZzWTrnmuuI5lQ4F/qYekN+kM4pcvpBkhUza3RH0fzxFqFgvo4f0BwzEuezYc
izRdvGY3U+kJCnzOYJbuo2skNMmFPYuKSpaIHhHdTVO1MGWuRnM8sWIED5FnlkGk
4eigHgIR1mKkhJgrw/jZ1Cqn1I78grxH8pJop5HGFLYeMJwIQN/4XvSrSFLPrqkY
pGEbAIvlRV5iYS5jhszartk5hC5VTuD3pJiGuGRhOebqeN3qa4H17XL10heriKcM
zYpGdI3hESm3RZawVsgQbmAFFVgS2QVqJdLCoAIGCs259mZOAQKCAQEA5HGJXZat
er1q3XzPB9vORzmf7uG/g0bYGKu8nyRRZQZlN60MvBBtZsxOkIR0nxc70z8Mzd4q
Plb5IR5Z1w8vzZQrRPXGLv3p+0Es9z/Q8p4VQSl1i3HOCekEQrzngxBN0BNe17mt
1Ki4Hx/ifvJfyRK3w0IlW6gCNMiKG8G/4Ylu6+UEGAg2fIUQTeVd6lTTSUhjE0m+
JY44hJF8FP3e1S1u+SgyxTxSLbPh1q8ma7FHmoA0yu3RRGIAUbB6o8cgh9Hj5diZ
mHsej+KNrWX0/NZZtEZzp2uIsrFxfH31Tow0dxSraSKLrgjWDw5t791Igxc4/s6G
XUQ8s4O/hDHZYQKCAQEA3ixjm2Z0ctYiAnESbrt7Sw4Ojpq94yJG5tsGVIfk3sjI
i34nSt0zxYCZLi3m8qHktd7vMVkOwkvodSCUZBljgqjn2N50z7I/SL/R8PgvM32I
Gz4Y+OMZLwZmm5c9E3sIPG5NjSpBOLzJ9US0JqWOUfEmxw4pwdhtgkB0sEbL6g6V
M5EGyIkJVEZ5ixDYhIy08kGo6RApp2hz390BdHwXf/pm2YrcpAWFrWqbghinB5oa
EjiYLj0CB4qF3WKXau9IZPPgR/CVbFucHXMY0xGzoyQAx0KmWbIa7dKsMPVlcpJG
UXvYaaqYmM38E9G9c5KjFGKNKXyplxCkVNDMqL6zIwKCAQEAijLBVjPUaR90Kd/a
YzevV9ldjqdVM3bFPk+OwXu4HfS7gO4YeSE6/eh1Uuo+nwvwLkDDXzuatLHq7wUs
dnUCh0yuzH4e0cjcJxrrt/wMTOojk5MgQCat7cLgx/r914UifdFqG/mBVthm4rVo
UUIRflPrhZ1belJuWz5Chr40dZ2t09ltG5jEVZouHeG3ag6872VyQnXnKVMbj99v
gEeA6dgdfW+7HyT51hovcq/s/1N1LNuIlIdAhS0AYmrwFmpdnKz2QNNDQEKjX4pA
CXlXtyl5hRzl1I+yV+AO9rBAma8qAiwn8mdqtvMzhFJHYcetmViQK14HXR7t1e/L
CY8aoQKCAQEAm1eQIbTmUPD2AJ0M1U3TLCxc80qw4GI0DvAvoeUOmtLqndYMJSU7
MKn08Lv5kcaugpeoyOlLD4FBvLuV5dN2p4Hv8cvBAwPPic9NPF5bqnXoN5wYm9U1
45JnJfz+IGPS42YAZWaZCdG+p/Zsu+Tf+N1TTrTRb48jKoJk1Gf75eBiZBbQFmDy
m/FWxGx35132mrhcIPFDHqFC+9CsVsT5LWtohEy6bxjJWfKDXthb2U3fUsQta48O
nzU02hE4a/V4udVnCQXnhEcdhd3XCqWC49uli61HYMnOWGEIMocycoRiFFEyhNda
MOU9jqIFBA0QZ41sxAg9D7n8HK2Nm6MS3wKCAQBr6WBEexZxfJIlipi/txKJEiOF
NEwC4R1GH1wVUjpTDZa90ggRATEsbgOgQxfN3KAHS1vSduH511CD6RkbRxRL128L
XBFlX8wWk5bWCeP0zcPKdZjLfLNs318IlIFnbeV0kvHAhNoU287xJ9AwRYdGWN93
yJ+4Y5E21QPu31JbkRo95NQbT72w7jketFNUtw4tK/YeJdk1Qw1iTh7917KXrd+q
AK421QsTnX8Ze2zNVy7M1nETYvwGPRUlTKj4AFgMXn/0b0rq6B4RZV6+/ArWVNYf
ddpSOCQr3IBLbmFa71eh63xYDK2BSrSGxqSQXLsPz6sFwCik8g9CXGvnc3Pe
-----END RSA PRIVATE KEY-----
